*{
    box-sizing: border-box;
}

body{
    background-color: #b8c6db;
    background-image: linear-gradient(315deg , #b8c6db 0%  #f5f 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.quiz-container{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 rgba(100 , 100, 100,1);
    width: 600px;
}

.quiz-header{
    padding: 4rem;
}
h2{
    padding: 1rem;
    text-align: center;
    margin: 0;
}

ul{
    list-style-type:none;
    padding: 0;
}

ul li{
    font-size: 1.2rem;
    margin: 1rem 0;
}

ul li label{
    cursor: pointer;
}

button{
    background-color: #8e44ad;
    color: white;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: "Poppins";
    padding: 1.3rem;
}
button:hover{
    background-color: #732d91;
}

button:focus{
    outline: none;
    background-color: #5e3370;
}
